<style>
</style>

<div id="app">
    <h3 style="display: inline-block; margin: 5px 5px 5px 0px;">
        searching:
        <%= searching %>
    </h3>
    <hr>
    <div>
        <textarea id="keyword" cols="30" rows="10"></textarea>
        <br>
        <input type="button" value="Search">
        <div id="result"></div>
    </div>
</div>

<%- contentFor('scripts') %>
    <script>
        $(function () {

        });
        var app = null;
        window.onload = function () {
            app = new Vue({
                el: '#app',
                data: {
                },
                methods: {
                },
                mounted: function () {
                }
            });
        };
    </script>